@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.AboutUs>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div>@CurrentPage.GetGridHtml("fRONTPAGEARTICLE", "Bootstrap3")</div>
